
{% extends 'layout.html' %}

<div class="contanier">
{% block body %}
<div class="container mt-3">
   
    <form action="http://127.0.0.1:5000/submitLocation" method="post">
        <fieldset style="background-color: #eeeeee;padding:30px">
            <h1 class="text-center"><small class="text-info"><u><i><b>New Location</b></i></u></small></h1>
        <label>Location Name </label>
        <input type="text" name="name" id="name" >
        <br><br>
        <input class="btn btn-success" type="submit" value="Submit">
        <a href="http://127.0.0.1:5000/Location" style="margin-left:10px;" class="btn btn-danger">Go Back</a>
        </fieldset>
    </form>
</div>
<!--<a class="btn btn-primary" href="http://127.0.0.1:5000/Product">Product Page</a>
-->

</div>

{% endblock %}
</div>
