
{% extends 'layout.html' %}

<div class="contanier">
{% block body %}
<div class="container mt-3">
<div class="w-25 p-3">
    
  
    <form action="http://127.0.0.1:5000/submitEditMovement" method="post">
        <fieldset style="background-color: #eeeeee;padding:30px">
            <h1 class="text-center "><small class="text-info"><u><i><b>Update Product Movement</b></i></u></small></h1>
            <input type="hidden" name="id" id="id" value="{{id}}" >
        <label>Product Name </label>
        <select class="form-control selcls" name="product" id="product">
          <option value="0" SELECTED>----------select Product----------</option>
            {% for pitem in all_Product %}
            {% if pitem.id == Product %}
            <option value="{{pitem.id}}" selected>{{pitem.name}}</option>
            {% else %}
            <option value="{{pitem.id}}">{{pitem.name}}</option>

            {% endif %}
            {% endfor %}
          </select>
        <br>
        <label>From Location</label>
        <select class="form-control selcls" name="fromLocation" id="fromLocation">
            <option value="0" SELECTED>----------select Location----------</option>
            {% for fromitem in all_Location %}
            {% if fromitem.id == fromLocation %}
            <option value='{{fromitem.id}}' selected>{{fromitem.name}}</option>
           
            {% else %}
            <option value='{{fromitem.id}}'>{{fromitem.name}}</option>
            {% endif %}
           
            {% endfor %}
          </select>
          <br>
          <label style="margin-left:10px;" >To Location</label>
        <select class="form-control selcls" name="toLocation" id="toLocation">
          <option value="0" SELECTED>----------select Location----------</option>
            {% for toitem in all_Location %}
            {% if toitem.id == toLocation %}
            <option value="{{toitem.id}}" selected>{{toitem.name}}</option>
            {% else %}
            <option value="{{toitem.id}}">{{toitem.name}}</option>
            {% endif %}
            {% endfor %}
          </select>
          <br>
          <label>Quantity</label>
          <input type="number" name="quantity" id="quantity" value="{{quantity}}">

          <br><br>
        <input class="btn btn-success" type="submit" value="Submit">
      <a href="http://127.0.0.1:5000/ProductMovement" style="margin-left:10px;" class="btn btn-danger">Go Back</a>
    </fieldset>
    </form>
</div>

</div>
{% endblock %}
</div>