

<div class="container mt-3 ">
    <div class="w-25 p-3">
        <fieldset style="background-color: #eeeeee;padding:30px">
            <legend><h1><small style="padding-top: 30px;"><i>Error</i></small></h1></legend>
            <div class="error-template">
                <h1 class="text-danger"> Oops!</h1>
              
                    <h2 class="text-danger"><b>{{title}}</b></h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
               
            </div>
        </fieldset>
    </div></div>    