{% extends 'layout.html' %}
{% block body %}

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Jehad Hassona Store </h1>
        <p>Welcome to my store. Come to see all the offers available to us, all you blame in one placec</p>    
        <p>To see all the offers, all you have to do is click on the Read More button</p>
      
        <a class="btn btn-lg btn-primary" href="#" role="button">Read More &raquo;</a>
      </p>
    </div>

  </div> <!-- /container -->

{% endblock %}